body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  float: left;
}

.logo {
  width: 45px;
  height: 45px;
  margin-right: 1.5rem;
  margin-left: 1rem;
  float: left;
}

.RateCard {
  height: 10vh;
  width: 10vw;
  font-size: 12px;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 0px 2px 0px;
}

.WishlistCard {
  height: 30vh;
  width: 15vw;
  margin-left: 1.3vw;
  font-size: 12px;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 0px 2px 0px;
}

.CoinInfoCard {
  height: auto;
  width: 15vw;
  font-size: 10px;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 0px 2px 0px;
}

.CreatorsCard {
  height: auto;
  width: 81vw;
  font-size: 1rem;
}

.topGainers {
  padding-top: 10px;
}

.topGainersText {
  width: 7vw;
  border-bottom: 2px black solid;
  margin-bottom: 30px;
}

.coinInfoHeader {
  border-bottom: 2px black solid;
  width: 10vw
}

.loader {
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 10%;
  margin-left: 8vw;
}

.noInfoText {
  opacity: 0.4;
  font-size: .8rem;
  margin: 2vw;
  justify-content: center;
  align-items: center;
  text-align: center;
}


@media (max-width: 600px) {

  .header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    float: left;
  }

  .headerSearch {
    display: none !important;
  }

  .RateCard {
    height: 10vh;
    width: 70vw;
    font-size: 1rem;
    font-weight: bolder;
    justify-content: center;
    align-items: left;
    box-shadow: 1px 0px 1px 0px;
  }
  
  .WishlistCard {
    height: 60vh;
    width: 70vw;
    margin: 1.5rem;
    font-size: 0.6rem;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 0px 1px 0px;
  }
  
  .CoinInfoCard {
    display: none !important;
  }

  .CreatorsCard {
    height: auto;
    width: 81vw;
    font-size: 1rem;
  }

  .topGainers {
    position: relative;
    display: flex;
    align-items: left;
    padding-top: 0.01rem;
    text-orientation: sideways-right;
    width: 60vw;
    /* text-align-last: justify !important; */
    border-bottom: 1px rgb(63, 23, 23) dashed;
  }
  
  .topGainersText {
    width: auto;
    font-size: 1.1rem;
    border-bottom: 2px black solid;
  }
  
}