body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  float: left;
}

.logo {
  width: 45px;
  height: 45px;
  margin-right: 1.5rem;
  margin-left: 1rem;
  float: left;
}

.RateCard {
  height: 10vh;
  width: 10vw;
  font-size: 12px;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 0px 2px 0px;
}

.WishlistCard {
  height: 30vh;
  width: 15vw;
  font-size: 12px;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 0px 2px 0px;
}

.CoinInfoCard {
  height: auto;
  width: 15vw;
  font-size: 10px;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 0px 2px 0px;
}

.CreatorsCard {
  height: auto;
  width: 81vw;
  font-size: 1rem;
}

.topGainers {
  border-bottom: 2px black solid;
  width: 7vw
}

.coinInfoHeader {
  border-bottom: 2px black solid;
  width: 10vw
}

.loader {
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 10%;
  margin-left: 8vw;
}

.noInfoText {
  opacity: 0.4;
  font-size: .8rem;
  margin: 2vw;
  justify-content: center;
  align-items: center;
  text-align: center;
}
